@import "../../../material/project";

.AppHeader {
    height: 64px;
    background-color: #81C784;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    border-bottom: 1px solid $border;
}

.AppHeader-container{
    height: 100%;
}

.AppHeader-logo {
    width: auto;
    height: 48px;
    padding-top: 8px;
}

.AppHeader-link{
    text-decoration: none;
    color: white !important;
    padding: 0 20px;
    display: inline-block;
    transition: 250ms background-color;
    line-height: 64px;
}

.AppHeader-link:hover{
    background-color: #2E7D32;
}

.AppHeader-github{
    margin-top: 17px;
    margin-left: 10px;
}

.AppHeader-spacer{
    padding-top: 64px;
}
