<div class="Page-Container Landing">
    <div layout="column" class="Landing-cover" layout-align="center center">
        <h1 class="md-display-3 Landing-heading"><span class="Landing-headingLight">Deviens éco-responsable</span></h1>
        <md-button class="md-raised md-large Landing-getStarted" ui-sref='app.register'>Rejoins nous !</md-button>
    </div>

    <div class="Landing-laravelAngular">
        <div class="Landing-ampersand" hide show-gt-sm>&amp;</div>
        <div layout="column" layout-gt-sm="row">
            <div flex="50" class="Landing-laravel" layout-align="center center">
                <h2 class="md-display-2 Landing-laravelAngular-title">Livraison rapide et écologique</h2>
                <div class="md-title Landing-laravelAngular-subtitle">Faites vous livrer où vous voulez en moins de 2h !</div>
                <br/>
                <div><img src="img/icons/bicycle.svg" class="Landing-icon"/></div>
            </div>
            <div flex="50" class="Landing-angular" layout-align="center center">
                <h2 class="md-display-2 Landing-laravelAngular-title">Produits frais</h2>
                <div class="md-title Landing-laravelAngular-subtitle">Consommez des produits de qualité, cultivés près de chez vous</div>
                <br/>
                <br/>
                <div><img src="img/icons/groceries.svg" class="Landing-icon"/></div>
                <br/>
            </div>
        </div>
    </div>
</div>
